*{
    box-sizing: border-box;
   
}
html{
    width: 100%;
    margin: 0 auto !important;
}
body{
    margin: 0 auto !important;
    
    max-width: 1280px;
    width: 100%;
    background-color: #f1cdb3;
    
    
}
.startScreen{
background-image: url(../../Assets/start-screen-gradient-background.png);
background-repeat: no-repeat;
background-size: 100%;
background-size: cover;
width: 1280px;
padding: 40px 40px 0px 40px;
margin: 0 auto;
max-width: 1280px;
width: 100%;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50vw;
    list-style: none;
    align-items: center;
    align-content: center;
}
li a{
  text-decoration: none;
   color:  #FAFAFA;
};


section #Cozy{
 Color:#f1cdb3 !important;
  
}
.content{
width: 460px;
height: 322px;
display: flex;
flex-direction: column;
justify-content: space-between;
width: 460px;
height: 322px;
left: 0px;
top: 163px;
}
.start-dog{
   
    width: 50%;
    height: 42vw;
   left: calc(50% - 698px/2 + 251px);
    bottom: 0px;
 
    background: url(../../Assets/start-screen-puppy.png);
    background-repeat: no-repeat;
    background-size: cover;
     
}
.start-screen{
    height:100%;
    display: flex;
    align-items: center;
    align-items: space-between;
    justify-content: space-between;
    
}
.Logo{
    line-height: 15px;
}
.make-friend{
    width: 50%;
    height: 50px;
    background: #F1CDB3;
    border-radius: 100px;
    border: 0px;
}

.About{
    width: 100%;
    max-width: 1280px ;
    height: 588px;
    background-color: #FFFFFF;
}
.AboutContainer{
    height: 100%;
    padding: 80px 40px 100px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.AboutImage{
background-image: url(../../Assets/about-pets.png);
background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 30%;
    margin-left: 175px;
}

.AboutContent{
    width: 35%;
    margin-right: 175px;
}

.pets{
    height: 877px;
    background-color: #F6F6F6;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    
 
    align-content: space-around;
    justify-content: space-around;

}
.slider{
    height: 50%;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.left{
    background-image: url(../../Assets/button_arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 55px;
    height: 55px;
}
.right{
    background-image: url(../../Assets/button_arrow\ \(1\).png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 55px;
    height: 55px; 
}

.cat-card,.jenifer,.woody{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cat{
    border-radius: 9px 9px 0px 0px;
    width: 270px;
    height: 270px;

}
.card-button{
    height: 53px;
    width: 187px;
    background-color: white;
    
    border-radius: 40px ;
    border:2px solid #f1cdb3;
}
.pets-title, .help-title{
    text-align: center;
    font-size: 35px;
line-height: 130%;
color: #545454;
}

.btn-pets{
    border-radius: 40px ;
    width: 25%;
    height: 6%; 
    background-color: #F1CDB3;
    border: 0px;
    align-self: center;
}

.help{
    height: 611px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.list {
    /* height: 22%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
    
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(20%);
}

.donation{
    height: 462px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.donation-dog{
    width: 50%;
    height: 55%;
    background-image: url(../../Assets/donation-dog.png);
    background-repeat: no-repeat;
    background-size:contain
}
.card{
    background-color: #F1CDB3;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    border: 0px;
    padding: 5px;
}
.donation-content{
    width: 380px;
}
h2{
    color:  #545454;
 }
footer{
    background-image: url(../../Assets/start-screen-gradient-background.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 350px;
    display: flex;
    flex-direction: row;
align-items: flex-end;
justify-content: space-between;
padding-right: 30px;
}
.footer-image{
    background-image: url(../../Assets/footer-puppy.svg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 50vw;
    height: 85%;


    
}
.email, .phone{
    display: flex;
    flex-direction: row;
    align-content: space-around;
justify-content: flex-start;

  
   
}
.footer-address, .footer-contact{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
    height: 100%;
    padding-left: 40px;
    font-style: normal;
font-weight: 400;
font-size: 2.4vw;
line-height: 130%;
/* or 45px */

letter-spacing: 0.06em;

/* color-light-xl */

color: #FFFFFF !important;
padding-bottom: 64px;
}
.email, .phone{
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
/* identical to box height, or 23px */

letter-spacing: 0.06em;

/* color-primary */

color: #F1CDB3;

}
li:hover{
    border-bottom: 2px solid #F1CDB3 ;
}
.left:hover,.right:hover{
background-color: #545454;
border-radius: 50%;
}
.cat-card:hover,.jenifer:hover,.woody:hover{
    background-color: #f1cdb3;
    
}

#cat-card:hover  #btn-cat,.jenifer:hover #btn-jenifer, .woody:hover #btn-woody, .btn-pets:hover {
    background-color: #c7814f;
    
}
footer a{
text-decoration: none;
text-transform: none;
color: #F6F6F6;
}
.make-friend:hover{
background-color: #c77d47;
}
h2,h1{
    font-family: Georgia,Times,Times New Roman,serif; 

    font-weight: 400;
}

h1,h2,h3,h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer-info{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
 
    header{
        max-width: 708px;

        height: 60px;
    }
    html, body {margin: 0; width: 100%; overflow: auto}

   .start-screen{
    /* padding: 30px 30px 0px 30px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }
   .startScreen{
       height: 1168px;
       padding: 30px 30px 0px 30px;
     
   }
   .Logo h1{
       line-height: 110%;
       margin: 0PX;
   }
    .Logo h4{
   margin-top: 10px;
        font-size: 2vw;
        line-height: 15PX;
    }
    li a{
       font-size: 2vw;
       padding: 0px
       
      }
      nav{
        width: 58vw !important;
      }
      ul{
          width: 100%;
          justify-content: space-around;
      }
      .start-dog{
          width: 74vw;
          height: 75vw;
          background-size: contain;
          margin-left: 20vw;
   
      }
.make-friend{
    max-width: 207px;
    align-self: center;
  
    
}
.make-friend a{
    text-decoration: none;
    color: #292929;
}
.content h2{
margin: 0px;
align-items: center;
font-size: 44px;
max-width: 310px;
}
.About{
    height: 1048px;

}
.AboutContainer{
    flex-direction: column;
    order: 1;
    
  
}
.AboutContent{
    margin: 0px;
    width: 56vw;
    
}
.AboutContent p{
    font-weight: 400;
font-size: 2vw;
width: 430px;
line-height: 160%;
}
.AboutContent h2{
    font-weight: 400;
font-size: 4.5vw;
width: 370px;
line-height: 130%;
margin: 0px;

}
.AboutImage{
    margin: 0px;
    order: 2;
    width: 44%;
    height: 47%;
}
.woody{
    display: none;
}
.cat-card,.jenifer{
    height: 435px;
    width: 35vw;
    justify-content: space-between;
}
.pets-title{
    font-size: 35px;
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
}
.btn-pets{
   width: 34vw;
   height: 52px; 
}
.item{
    width: 33.3%;
}
.help-title{
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
}
.donation{
    display: flex;
    flex-direction: column;
    height: 783px;
    justify-content: space-around;
}
.donation-dog{
    order:2;
    background-size: cover;

    width: 66vw;
    height: 34vw;
}
.donation-content{
    order:1;
    max-width: 380px;
    max-height: 282px;
}
.donation-content h2{
    font-size: 35px;
    font-weight: 400;

}
.card{
    width: 349px;
    height: 43px;
    font-size: 20px;
    justify-content: space-around;
  
}
.card a{
    text-decoration: none;
}
footer{
    height: 639px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-address, .footer-contact{
    font-size: 4vw;
}
.footer-image{
    width: 39vw;
    height: 40vw;
}

}
